In [3]:
import pandas as pd

Ingest and Preview Dataset

In [4]:
df = pd.read_csv('./costco_ca_ratings_reviews.csv')

In [5]:
df.head()

,crawl_date,retailer_site,Sub-Brand,Subsector,Brand,sub_category,sku,upc,average_ratings,total_ratings
0,2024-01-25,Costco Canada English,NaN,NaN,NaN,NaN,1515730,4.740067e+10,4.8,695.0
1,2024-01-25,Costco Canada English,NaN,NaN,NaN,NaN,1467614,6.905589e+10,4.3,116.0
2,2024-01-25,Costco Canada English,NaN,NaN,NaN,NaN,1653524,3.077204e+10,3.5,2.0
3,2024-01-25,Costco Canada English,NaN,NaN,NaN,NaN,1480427,3.700068e+10,4.6,167.0
4,2024-01-25,Costco Canada English,NaN,NaN,NaN,NaN,407365,5.177451e+10,4.2,9.0

In [ ]:
average_ratings_per_sku = df.groupby('sku')['average_ratings'].mean()
average_ratings_per_sku.display()

In [8]:
df.tail()

,crawl_date,retailer_site,Sub-Brand,Subsector,Brand,sub_category,sku,upc,average_ratings,total_ratings
18022,2022-11-03,Costco Canada English,NaN,NaN,NaN,NaN,1139997,NaN,3.0,10.0
18023,2022-11-03,Costco Canada English,NaN,NaN,NaN,NaN,3161251,NaN,3.0,2.0
18024,2022-11-03,Costco Canada English,NaN,NaN,NaN,NaN,1560503,NaN,4.6,889.0
18025,2022-11-03,Costco Canada English,NaN,NaN,NaN,NaN,8827195,NaN,4.6,416.0
18026,2022-11-03,Costco Canada English,NaN,NaN,NaN,NaN,1080326,NaN,5.0,1.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18027 entries, 0 to 18026
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   crawl_date       18027 non-null  object
 1   retailer_site    18027 non-null  object
 2   Sub-Brand        0 non-null      float64
 3   Subsector        0 non-null      float64
 4   Brand            0 non-null      float64
 5   sub_category     1834 non-null   object
 6   sku              18027 non-null  int64
 7   upc              14396 non-null  float64
 8   average_ratings  18027 non-null  float64
 9   total_ratings    18027 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 1.4+ MB